.input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  padding: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.input:focus {
  outline: none;
}
.error {
  color: #ff0000;
}
